[Unit]
Description=MTA GTFS-Realtime Ingestion Service
After=network.target

[Service]
Type=simple
User=google-sudoers
WorkingDirectory=/opt/mta-ingestion
# Load environment variables from a file
EnvironmentFile=/opt/mta-ingestion/.env
# Run the python script
ExecStart=/opt/mta-ingestion/venv/bin/python /opt/mta-ingestion/ingest_feed.py
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target
